[project]
	description = Java Script UI controls library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Autushka
[access "refs/for/refs/*"]
	read = group user/Autushka
	push = group user/Autushka
	label-Code-Review = -2..+2 group user/Autushka
	label-Verified = -1..+1 group user/Autushka
	rebase = group user/Autushka
	removeReviewer = group user/Autushka
	submit = group user/Autushka
[access "refs/heads/*"]
	read = group user/Autushka
	create = group user/Autushka
	push = +force group user/Autushka
	pushMerge = group user/Autushka
[access "refs/tags/*"]
	push = +force group user/Autushka
	createTag = group user/Autushka
	createSignedTag = group user/Autushka
